@import "./root.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
}

.app__container {
  padding: 1% 15%;
}

/* NAVBAR */
.__header {
  justify-content: space-between;
  padding: 0 15%;
  min-height: 70px;

  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 16px;
}

.__header > div > a {
  display: flex;
  align-items: center;

  padding: 0 20px;
  height: 100%;

  color: var(--white-color);
  text-decoration: none;
}

.__header > div > a:hover {
  background-color: transparent;
  border-bottom: 4px solid var(--links-border-bottom);
}

.__header > div > a:focus:not(:active) {
  outline: var(--outline-focus);
}

/* END NAVBAR */

/* ------AUTHENTICATION------ */

.auth-container {
  display: block;
  width: 400px;
  margin: 0 auto;

  font-family: var(--font-nunito);
  font-weight: 300;
}

.__title {
  padding: 30px 0 20px 0;
  font-family: var(--font-montserrat);

  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.__auth-form {
  background-color: var(--auth-bg-color);
  border: 1px solid var(--auth-border-color);
  border-radius: 5px;

  padding: 20px;
  font-size: 16px;
  text-align: left;
}

.__auth-form > div > label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}

.__auth-form > div > input {
  background-color: var(--white-color);
  margin: 5px 0 15px 0;
  padding: 5px 12px;

  line-height: 20px;
  font-size: 14px;

  border-radius: 6px;
}

.__auth-form > div > input:focus {
  box-shadow: var(--focus-shadow-input-color);
  border-color: var(--blue-color);
}

.__auth-form > button {
  margin-top: 20px;

  display: block;
  width: 100%;

  color: var(--white-color);
  border-color: var(--dark-grayish-color);

  background-color: var(--green-button-color);
}

.__auth-form > button:hover {
  background-color: var(--green-button-hover-color);
}

.__auth-form > button:focus {
  box-shadow: var(--focus-shadow-button-color);
  border-color: var(--dark-grayish-color);
}

.__redirect {
  margin-top: 20px;
  padding: 20px;

  border: 1px solid var(--auth-border-color);
  border-radius: 5px;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.__redirect > p > a,
.__redirect-password-reset > a {
  color: var(--blue-color);
  text-decoration: none;
}

.__redirect > p > a:hover,
.__redirect-password-reset > a:hover {
  text-decoration: underline;
}

.__redirect-password-reset {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

/* REGISTER */

.register > form > div > label::after {
  padding-left: 5px;
  content: "*";
  color: var(--red-color);
}

/* END REGISTER */

/* ERRORS / SUCCESS */

.error-container {
  padding: 20px;
  margin-bottom: 20px;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.success-container {
  padding: 20px;
  margin-bottom: 20px;
  color: var(--green-button-color);
  border: 1px solid var(--green-button-color);
}

/* END ERRORS / SUCCESS */

/* ------END AUTHENTICATION------ */

/* ------API DATA------ */

.__container {
  padding: 50px 0;

  font-family: var(--font-roboto);
}

.__container > h1 {
  margin-bottom: 5px;
  font-weight: 500;
}

.__container > hr {
  margin-bottom: 20px;
}

/* GRID */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  column-gap: 20px;
  gap: 50px;

  padding: 30px;

  background-color: var(--black-color);
}

/* END GRID */

/* IMAGE */

.box {
  position: relative;
}

.box > a > img {
  height: 100%;
  width: 100%;

  transition: 0.3s ease;
}

.box > a > img:hover {
  filter: opacity(50%);
}

.box > div {
  position: absolute;
  top: 5px;
  right: 10px;

  color: var(--white-color);
}
.__icons > i {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  transition: 0.2s ease-in;
}
.__icons > i:hover {
  transform: scale(1.15);
}

.__icons {
  display: none;
}

.box:hover .__icons {
  display: block;
}

/* END IMAGE */

/* ------END API DATA------ */

/* MODAL */

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
}

.modal {
  font-family: var(--font-roboto);
  position: relative;
  background-color: var(--black-color);
  color: var(--white-color);

  width: 50%;
  height: 50%;
  padding: 0 100px;
  justify-content: center;
  text-align: center;
}

.__close-btn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  font-size: 32px;
}

.modal > h1 {
  margin-bottom: 50px;
}

.__btn-grp {
  display: flex;
}

.__btn-grp > button {
  margin-left: 20px;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--green-button-color);
  border-color: var(--dark-grayish-color);
}

.__btn-grp > button > a {
  color: inherit;
  text-decoration: none;
}

.__btn-grp > button:hover {
  background-color: var(--green-button-hover-color);
}

.__btn-grp > button:focus {
  box-shadow: var(--focus-shadow-button-color);
  border-color: var(--dark-grayish-color);
}

/* END MODAL */

/* FETCH DATA */

.search__container > form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search__container > form > input {
  width: 50%;
  padding: 7px 12px;

  background-color: var(--black-color);
  color: var(--white-color);

  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
}

.search__container > form > button,
.__result_msg > button {
  width: 7%;
  margin-left: 10px;

  background-color: transparent;
  color: var(--black-color);
  transition: 0.2s ease;

  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
}

.search__container > form > button:hover,
.__result_msg > button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.__result_msg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.__result_msg > h1 {
  font-weight: 500;
}

.search__container > hr {
  margin: 5px 0 20px 0;
}

/* END FETCH DATA */
