@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #0366d6;
  --green-color: #00ff99;
  --red-color: #cb2431;
  --grayish-color: #858585;
  --dark-grayish-color: #1b1f2326;

  --green-button-color: #2ea44f;
  --green-button-hover-color: #2c974b;

  --links-border-bottom: #00ff99;
  --outline-focus: 1px solid #fff;

  --focus-shadow-input-color: 0 0 0 3px rgba(3, 102, 214, 0.3);
  --focus-shadow-button-color: 0 0 0 3px rgba(46, 164, 79, 0.4);

  --font-nunito: "Nunito", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --auth-bg-color: #f6f8fa;
  --auth-border-color: #eaecef;
}
